<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagen corporativa</title>
    <link rel="stylesheet" href="../Library/Bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Oxygen:wght@300&family=Poppins:wght@300&family=Questrial&family=Quicksand&family=Raleway:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../Styles/imagenCorporativa.css">
</head>
<body>
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <div class="andinaLogo">
                <a class="navbar-brand">
                    <img src="../Styles/Images/Logo/andinaTradeHub.png" alt="LogoAndinaTradeHub">AndinaTradeHub
                    </a>
            </div>
                <ul class="navbar-nav-ul">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">Inicio</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Productos</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Views/login.html">Ingresar</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Categorías</a> 
                    </li>
                </ul>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                    aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header justify-content-end">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Views/login.html">Ingresar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Views/login.html">Crear Cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Vender</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Lista de Productos</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#idProductos" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Categorías
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#idRow1">Joyería</a></li>
                                <li><a class="dropdown-item" href="#idRow1">Electrodomésticos</a></li>
                                <li><a class="dropdown-item" href="#idRow1">Zapatos</a></li>
                                <li><a class="dropdown-item" href="#idRow1">Ropa</a></li>
                                <li><a class="dropdown-item" href="#idRow1">Videojuegos</a></li>
                                <li><a class="dropdown-item" href="#idRow1">Tecnología</a></li>

                                <li><a class="dropdown-item" href="#idRow2">Vehículos</a></li>
                                <li><a class="dropdown-item" href="#idRow2">Cuidado y belleza</a></li>
                                <li><a class="dropdown-item" href="#idRow2">Hogar</a></li>
                                <li><a class="dropdown-item" href="#idRow2">Mascotas</a></li>
                                <li><a class="dropdown-item" href="#idRow2">Librería</a></li>
                                <li><a class="dropdown-item" href="#idRow2">Floristería</a></li>
                            </ul>

                            <li class="nav-item">
                                <a class="nav-link" href="#idAboutUs">¿Quiénes somos?</a>
                            </li>

                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Búsqueda" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Buscar</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

   <main>
    <div class="cont-corpo">
            <img src="../Styles/Images/Logo/andinaTradeHub.png" alt="Logo">
    </div>

    <div class="cont-text">
        <h2>¿Por qué elegir AndinaTradeHub?</h2>
            <ul>
                <li>
                    <h3>Variedad y calidad:</h3>
                    <p>Ofrecemos una amplia gama de productos y servicios de alta calidad para satisfacer todas tus necesidades.</p>
                </li>
                <li>
                    <h3>Seguridad:</h3>
                    <p>La seguridad es nuestra prioridad. Implementamos medidas robustas para proteger tus datos y garantizar transacciones seguras.</p>
                </li>
                <li>
                    <h3>Facilidad y uso:</h3>
                    <p>Nuestra plataforma está diseñada pensando en ti. Ya seas un comprador o un vendedor, queremos que tu experiencia sea simple y agradable.</p>
                </li>
                <li>
                    <h3>Soporte al cliente:</h3>
                    <p>Contamos con un equipo de soporte dedicado para ayudarte en cada paso del camino. Si tienes alguna pregunta o inquietud, estamos aquí para ayudarte.</p>
                </li>

                <li class="container-text">
                    <h3>Nuestra historia</h3>
                    <p>AndinaTradeHub fue fundada con la visión de transformar la forma en que las personas compran y venden en línea. Desde entonces, hemos crecido y evolucionado, pero nuestra dedicación a la excelencia y a la satisfacción del cliente sigue siendo la misma.</p>
                </li>

                <li class="container-text">
                    <h3>Nuestra misión</h3>
                    <p>Nuestra misión es crear un espacio digital donde cada transacción sea una experiencia positiva. Nos esforzamos por ofrecer a nuestros usuarios una plataforma intuitiva, transparente y segura que fomente la confianza entre compradores y vendedores.</p>
                </li>

                <p class="parr-mot">Únete a AndinaTradeHub y forma parte de una comunidad que valora la honestidad, la integridad y las buenas experiencias de compra y venta.</p>
            </ul>
    </div>
   </main>

   <footer class="pie">
    <div class="header">
        <div class="logo">
            <img src="../Styles/Images/Logo/andinaTradeHub.png" alt="Logo">
            <p class="logotipo">AndinaTradeHub</p>
        </div>
        <div class="redes">
            <span class="fb" href="../Views/pagConstrucción.html"><i class="fa-brands fa-facebook"></i></span>
            <span class="tw" href="../Views/pagConstrucción.html"><i class="fa-brands fa-twitter"></i></span>
            <span class="in" href="../Views/pagConstrucción.html"><i class="fa-brands fa-instagram"></i></span>
            <span class="li" href="../Views/pagConstrucción.html"><i class="fa-brands fa-linkedin"></i></span>
            <span class="yt" href="../Views/pagConstrucción.html"><i class="fa-brands fa-youtube"></i></span>
        </div>
    </div>
    
    <div class="section">
        <div>
            <h2>AndinaTradeHub</h2>
            <a href="../index.html">Inicio</a>
            <a href="./imagenCorporativa.html">Acerca de nosotros</a>
            <a href="#idRow1">Categorías</a>
            <a href="./pagConstrucción.html">Contáctanos</a>
        </div>
        <div>
            <h2>Servicios</h2>
            <a href="./vender.html">Venta de productos</a>
            <a href="#">Compra de productos</a>
        </div>
        <div class="cont-ubica">
            <h2>Ubicación</h2>
            <p>Manizales, Caldas<br>dfvalenciar@unal.edu.co<br>lauravagarciaa1295@gmail.com</p>
        </div>
    </div>
    <div class="derechos">
        <p>Copyright©2023. All right reserved</p>
    </div>
</footer>
    <script src="../Library/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/646ac4fad6.js" crossorigin="anonymous"></script>
</body>
</html>