<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="../Library/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Styles/listaProductos.css">
</head>
<body>
    <section class="container">
        <div class="products">
        </div>

        <section class="paginacion justify-content-center">
            <li class="elemento-pagina previous-page disable"><a class="pagina-link " href="">Anterior</a></li>
            <li class="elemento-pagina current-page activo"><a class="pagina-link " href="#">1</a></li>
            <li class="elemento-pagina dots"><a class="pagina-link " href="#">...</a></li>
            <li class="elemento-pagina current-page"><a class="pagina-link" href="#">5</a></li>
            <li class="elemento-pagina current-page"><a class="pagina-link" href="#">6</a></li>
            <li class="elemento-pagina dots"><a class="pagina-link" href="#">...</a></li>
            <li class="elemento-pagina current-page"><a class="pagina-link" href="#">10</a></li>
            <li class="elemento-pagina next-page"><a class="pagina-link" href="#">Siguiente</a></li>
        </section>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="../Library/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Scripts/listaProductos.js"></script>
</body>
</html>