<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio y creación de usuario</title>
        <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Oxygen:wght@300&family=Poppins:wght@300&family=Questrial&family=Quicksand&family=Raleway:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../Library/Bootstrap/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="../Styles/login.css">
    </head>

    <body>

        <!--<nav class="navbar navbar-dark">
            <div class="container-fluid">
                <div class="andinaLogo">
                    <a class="navbar-brand">
                        <img src="../Styles/Images/Logo/andinaTradeHub.png" alt="LogoAndinaTradeHub">AndinaTradeHub
                        </a>
                </div>
                    <ul class="navbar-nav-ul">
                        <li class="nav-item">
                            <a class="nav-link" href="../Views/login.html">Ingresar</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Views/listaProductos.html">Productos</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#idContainer">Categorías</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Views/imagenCorporativa.html">Imagen corporativa</a> 
                        </li>
                    </ul>
    
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                        aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar"
                    aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header justify-content-end">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Views/login.html">Ingresar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Views/login.html">Crear Cuenta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Views/vender.html">Vender</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Views/listaProductos.html">Lista de Productos</a>
                            </li>
    
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#idProductos" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Categorías
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#idRow1">Joyería</a></li>
                                    <li><a class="dropdown-item" href="#idRow1"">Electrodomésticos</a></li>
                                    <li><a class="dropdown-item" href="#idRow1"">Zapatos</a></li>
                                    <li><a class="dropdown-item" href="#idRow1"">Ropa</a></li>
                                    <li><a class="dropdown-item" href="#idRow1"">Videojuegos</a></li>
                                    <li><a class="dropdown-item" href="#idRow1">Tecnología</a></li>
    
                                    <li><a class="dropdown-item" href="#idRow2">Vehículos</a></li>
                                    <li><a class="dropdown-item" href="#idRow2">Cuidado y belleza</a></li>
                                    <li><a class="dropdown-item" href="#idRow2">Hogar</a></li>
                                    <li><a class="dropdown-item" href="#idRow2">Mascotas</a></li>
                                    <li><a class="dropdown-item" href="#idRow2">Librería</a></li>
                                    <li><a class="dropdown-item" href="#idRow2">Floristería</a></li>
                                </ul>
    
                                <li class="nav-item">
                                    <a class="nav-link" href="#idAboutUs">¿Quiénes somos?</a>
                                </li>
    
                                <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Búsqueda" aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>-->

        <div class="container" id="container">
            <div class="form-container sign-up">
                <form>
                    <h1>Crear Cuenta</h1>
                    <span>Llene el siguiente formulario:</span>
                    <input type="text" placeholder="Nombre Completo" id="textNombre">
                    <input type="email" placeholder="Correo Electrónico" id="textEmail">
                    <input type="text" placeholder="Teléfono" id="textTelefono">
                    <input type="text" placeholder="Usuario" id="textUsuario">
                    <input type="text" placeholder="Contraseña" id="textContrasena">
                    <select class="form-select" id="selectMunicipio" autocomplete="on">
                        <option selected disabled value="">Seleccione su municipio</option>
                    </select>
                    <button id="btnRegistrar">Registrarse</button>
                </form>
            </div>
            <div class="form-container sign-in">
                <form>
                    <h1>Iniciar Sesión</h1>
                    <span>Utiliza tu usuario y contraseña</span>
                    <input type="text" id="usuario" placeholder="Usuario">
                    <input type="password" id="contrasena" placeholder="Contraseña">
                    <!-- <a href="#">Olvidaste la contraseña?</a> -->
                    <button id="btnIniciar">Iniciar Sesión</button>
                </form>
            </div>
            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                        <h1>Bienvenido a AndinaTradeHub!</h1>
                        <p>Introduzca sus datos para loguearse en la plataforma</p>
                        <button class="hidden" id="login">Loguearse</button>
                    </div>
                    <div class="toggle-panel toggle-right">
                        <h1>Hola Cliente</h1>
                        <p>Regístrese con sus datos personales para utilizar las funciones de AndinaTradeHub</p>
                        <button class="hidden" id="register">Crear Usuario</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../Library/Jquery/jquery-3.7.1.min.js"></script>

        <script src="../Scripts/login.js"></script>
    </body>
</html>
