<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página en construcción</title>
    <link rel="stylesheet" href="../Library/Bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Oxygen:wght@300&family=Poppins:wght@300&family=Questrial&family=Quicksand&family=Raleway:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../Styles/pagConstrucción.css">
</head>
<body>
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <div class="andinaLogo">
                <a class="navbar-brand">
                    <img src="../Styles/Images/Logo/andinaTradeHub.png" alt="LogoAndinaTradeHub">AndinaTradeHub
                    </a>
            </div>
                <ul class="navbar-nav-ul">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">Inicio</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Productos</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Views/login.html">Ingresar</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Categorías</a> 
                    </li>
                </ul>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                    aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header justify-content-end">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Views/login.html">Ingresar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Views/login.html">Crear Cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Vender</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Lista de Productos</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#idProductos" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Categorías
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Joyería</a></li>
                                <li><a class="dropdown-item" href="#"">Electrodomésticos</a></li>
                                <li><a class="dropdown-item" href="#"">Zapatos</a></li>
                                <li><a class="dropdown-item" href="#"">Ropa</a></li>
                                <li><a class="dropdown-item" href="#"">Videojuegos</a></li>
                                <li><a class="dropdown-item" href="#">Tecnología</a></li>

                                <li><a class="dropdown-item" href="#">Vehículos</a></li>
                                <li><a class="dropdown-item" href="#">Cuidado y belleza</a></li>
                                <li><a class="dropdown-item" href="#">Hogar</a></li>
                                <li><a class="dropdown-item" href="#">Mascotas</a></li>
                                <li><a class="dropdown-item" href="#">Librería</a></li>
                                <li><a class="dropdown-item" href="#">Floristería</a></li>
                            </ul>

                            <li class="nav-item">
                                <a class="nav-link" href="#idAboutUs">¿Quiénes somos?</a>
                            </li>

                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Búsqueda" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Buscar</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="pag-construccion">
            <img src="../Styles/Images/Construccion/Construccion.png">
        </div>

        <div class="container-text">
            <h2>Bajo construcción</h2>
            <p>Nuestras redes sociales están en construcción,<br>estamos trabajando arduamente para la creación de las mismas;<br>ésto con el propósito de brindar una mejor experiencia.</p>
        </div>
    </main>
    <script src="../Library/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/646ac4fad6.js" crossorigin="anonymous"></script>
</body>
</html>