<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="../Library/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Styles/producto.css">
</head>
<body>
    <main>
        <section class="small-container product-section">
            <div class="row g-0">
                <div class="col-6 images-container">
                    <img src="../Styles/Images/Carrusel/ps4.jpeg" alt="">
                    <img src="../Styles/Images/Carrusel/carro.jpeg" alt="">
                    <img src="../Styles/Images/Carrusel/reloj.jpg" alt="">
                </div>
                <!-- <div class="col-7 image-container">
                    <img src="../Styles/Images/Carrusel/ps4.jpeg" alt="">
                </div> -->
                <div class="col-6 info-product">
                    <h2 class="product-title">Ps4</h2>
                    <h4 class="product-category">Consolas</h4>
                    <span class="product-price">$1'500.000</span>
                    <div class="buttons-container">
                        <button class="btn-comprar" data-productId="1">Comprar💰</button>
                        <button class="btn-vender" data-productId="2">Agregar🛒</button>
                    </div>
                </div>
            </div>

            <div class="description-container">
                <h3 class="description-title">Descripción del producto</h3>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel et aliquam, magnam voluptas quia consequuntur iste dignissimos fugiat reprehenderit velit, officiis numquam dolore dolorum minima, minus deleniti voluptatum quae ratione.<br>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati omnis corporis nam rem fugiat vero sint voluptate animi veritatis blanditiis iure, recusandae, quam assumenda porro et esse facilis vitae beatae!<br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aliquam dolor facilis magni aspernatur, ea similique aliquid pariatur, autem nihil laborum placeat tenetur totam veritatis quae tempora delectus voluptates perferendis?<br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ut, laboriosam, sunt officiis perspiciatis sed saepe, amet modi harum distinctio laborum quaerat assumenda consectetur animi. Eos dignissimos ratione nostrum consequatur.<br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis expedita sed corrupti eius tenetur rem sint ratione eos, minima quod reprehenderit itaque quisquam veniam eum consequuntur, alias quos mollitia porro.
                </span>
            </div>

            <div class="questions-container">
                <h3 class="questions-title">Pregúntale al vendedor</h3>
                <div class="question-form-container">
                    <textarea name="preguntas" id="preguntas" cols="105" rows="1" placeholder="Escribe tu pregunta del producto..."></textarea>
                    <button class="btn-preguntar">Preguntar</button>
                </div>
            </div>
        </section>
    </main>


    <script type="text/javascript" src="../Library/Jquery/jquery-3.7.1.min.js"></script>
    <script src="../Library/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../Scripts/producto.js"></script>
</body>
</html>