<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="../Library/Bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Oxygen:wght@300&family=Poppins:wght@300&family=Questrial&family=Quicksand&family=Raleway:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../Styles/producto.css">
</head>
<body>
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <div class="andinaLogo">
                <a class="navbar-brand">
                    <img src="../Styles/Images/Logo/andinaTradeHub.png" alt="LogoAndinaTradeHub">AndinaTradeHub
                    </a>
            </div>
                <ul class="navbar-nav-ul">
                    <li class="nav-item">
                        <a class="nav-link" href="../Views/login.html">Ingresar</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Views/listaProductos.html">Productos</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#idContainer">Categorías</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Views/imagenCorporativa.html">Imagen corporativa</a> 
                    </li>
                </ul>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                    aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header justify-content-end">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Views/login.html">Ingresar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Views/login.html">Crear Cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Views/vender.html">Vender</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Views/listaProductos.html">Lista de Productos</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#idProductos" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Categorías
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#idRow1">Joyería</a></li>
                                <li><a class="dropdown-item" href="#idRow1"">Electrodomésticos</a></li>
                                <li><a class="dropdown-item" href="#idRow1"">Zapatos</a></li>
                                <li><a class="dropdown-item" href="#idRow1"">Ropa</a></li>
                                <li><a class="dropdown-item" href="#idRow1"">Videojuegos</a></li>
                                <li><a class="dropdown-item" href="#idRow1">Tecnología</a></li>

                                <li><a class="dropdown-item" href="#idRow2">Vehículos</a></li>
                                <li><a class="dropdown-item" href="#idRow2">Cuidado y belleza</a></li>
                                <li><a class="dropdown-item" href="#idRow2">Hogar</a></li>
                                <li><a class="dropdown-item" href="#idRow2">Mascotas</a></li>
                                <li><a class="dropdown-item" href="#idRow2">Librería</a></li>
                                <li><a class="dropdown-item" href="#idRow2">Floristería</a></li>
                            </ul>

                            <li class="nav-item">
                                <a class="nav-link" href="#idAboutUs">¿Quiénes somos?</a>
                            </li>

                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Búsqueda" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Buscar</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <section class="small-container product-section">
            <!-- <div class="row g-0">
                <div class="col-6 images-container">
                    <img src="../Styles/Images/Carrusel/ps4.jpeg" alt="">
                    <img src="../Styles/Images/Carrusel/carro.jpeg" alt="">
                    <img src="../Styles/Images/Carrusel/reloj.jpg" alt="">
                </div>
                <div class="col-6 info-product">
                    <h2 class="product-title">Ps4</h2>
                    <h4 class="product-category">Consolas</h4>
                    <span class="product-price">$1'500.000</span>
                    <div class="buttons-container">
                        <button class="btn-comprar" data-productId="1">Comprar💰</button>
                        <button class="btn-vender" data-productId="2">Agregar🛒</button>
                    </div>
                </div>
            </div>

            <div class="description-container">
                <h3 class="description-title">Descripción del producto</h3>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel et aliquam, magnam voluptas quia consequuntur iste dignissimos fugiat reprehenderit velit, officiis numquam dolore dolorum minima, minus deleniti voluptatum quae ratione.<br>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati omnis corporis nam rem fugiat vero sint voluptate animi veritatis blanditiis iure, recusandae, quam assumenda porro et esse facilis vitae beatae!<br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aliquam dolor facilis magni aspernatur, ea similique aliquid pariatur, autem nihil laborum placeat tenetur totam veritatis quae tempora delectus voluptates perferendis?<br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ut, laboriosam, sunt officiis perspiciatis sed saepe, amet modi harum distinctio laborum quaerat assumenda consectetur animi. Eos dignissimos ratione nostrum consequatur.<br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis expedita sed corrupti eius tenetur rem sint ratione eos, minima quod reprehenderit itaque quisquam veniam eum consequuntur, alias quos mollitia porro.
                </span>
            </div> -->

            <!-- <div class="questions-container">
                <h3 class="questions-title">Pregúntale al vendedor</h3>
                <div class="question-form-container">
                    <textarea name="preguntas" id="preguntas" cols="105" rows="1" placeholder="Escribe tu pregunta del producto..."></textarea>
                    <button class="btn-preguntar">Preguntar</button>
                </div>
            </div> -->
        </section>
    </main>

    <footer class="pie">
        <div class="header">
            <div class="logo">
                <img src="../Styles/Images/Logo/andinaTradeHub.png" alt="Logo">
                <p class="logotipo">AndinaTradeHub</p>
            </div>
            <div class="redes">
                <a href="../Views/pagConstrucción.html"><span class="fb"><i class="fa-brands fa-facebook"></i></span></a>  
                <a href="../Views/pagConstrucción.html"><span class="tw"><i class="fa-brands fa-twitter"></i></span></a>
                <a href="../Views/pagConstrucción.html"><span class="in" ><i class="fa-brands fa-instagram"></i></span></a>
                <a href="../Views/pagConstrucción.html"><span class="li"><i class="fa-brands fa-linkedin"></i></span></a>
                <a href="../Views/pagConstrucción.html"><span class="yt"><i class="fa-brands fa-youtube"></i></span></a>
            </div>
        </div>
        
        <div class="section">
            <div>
                <h2>AndinaTradeHub</h2>
                <a href="#">Inicio</a>
                <a href="../Views/imagenCorporativa.html">Acerca de nosotros</a>
                <a href="#idRow1">Categorías</a>
                <a href="../Views/pagConstrucción.html">Contáctanos</a>
            </div>
            <div>
                <h2>Servicios</h2>
                <a href="../Views/vender.html">Venta de productos</a>
                <a href="../Views/listaProductos.html">Compra de productos</a>
            </div>
            <div>
                <h2>Ubicación</h2>
                <p>Manizales, Caldas<br>dfvalenciar@unal.edu.co<br>lauravagarciaa1295@gmail.com</p>
            </div>
        </div>
        <div class="derechos">
            <p>Copyright©2023. All right reserved</p>
        </div>
    </footer>

    <script type="text/javascript" src="../Library/Jquery/jquery-3.7.1.min.js"></script>
    <script src="https://kit.fontawesome.com/646ac4fad6.js" crossorigin="anonymous"></script>
    <script src="../Library/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../Scripts/producto.js"></script>
</body>
</html>