<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vender</title>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Oxygen:wght@300&family=Poppins:wght@300&family=Questrial&family=Quicksand&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Library/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Styles/vender.css">
</head>
<body>
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <div class="andinaLogo">
                <a class="navbar-brand" href="/index.html">
                    <img src="../Styles/Images/Logo/andinaTradeHub.png" alt="LogoAndinaTradeHub">AndinaTradeHub
                    </a>
            </div>
                <ul class="navbar-nav-ul">
                    <li class="nav-item">
                        <a class="nav-link" href="../Views/login.html">Ingresar</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Views/listaProductos.html">Productos</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">Categorías</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Views/imagenCorporativa.html">Imagen corporativa</a> 
                    </li>
                </ul>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                    aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header justify-content-end">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Views/login.html">Ingresar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Views/login.html">Crear Cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Views/vender.html">Vender</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Views/listaProductos.html">Lista de Productos</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#idProductos" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Categorías
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/index.html">Joyería</a></li>
                                <li><a class="dropdown-item" href="/index.html"">Electrodomésticos</a></li>
                                <li><a class="dropdown-item" href="/index.html"">Zapatos</a></li>
                                <li><a class="dropdown-item" href="/index.html"">Ropa</a></li>
                                <li><a class="dropdown-item" href="/index.html"">Videojuegos</a></li>
                                <li><a class="dropdown-item" href="/index.html">Tecnología</a></li>

                                <li><a class="dropdown-item" href="/index.html">Vehículos</a></li>
                                <li><a class="dropdown-item" href="/index.html">Cuidado y belleza</a></li>
                                <li><a class="dropdown-item" href="/index.html">Hogar</a></li>
                                <li><a class="dropdown-item" href="/index.html">Mascotas</a></li>
                                <li><a class="dropdown-item" href="/index.html">Librería</a></li>
                                <li><a class="dropdown-item" href="/index.html">Floristería</a></li>
                            </ul>

                            <li class="nav-item">
                                <a class="nav-link" href="/Views/imagenCorporativa.html">¿Quiénes somos?</a>
                            </li>

                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Búsqueda" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Buscar</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <main class="main-container">
        <form class="form">
            <h2>Vende tus productos</h2>
            <div class="elements-container">
                <select class="form-select" id="selectCategoria" required>
                    <option selected disabled value="">Categoria del producto</option>
                </select>
            </div>
            <div class="elements-container">
                <input type="text" id="textNombre" required>
                <label class="label">Título &nbsp del &nbsp producto</label>
            </div>
            <div class="elements-container texarea">
                <textarea name="descripción" id="textDescripcion" cols="30" rows="10" required></textarea>
                <label class="label label-textarea">Descripción</label>
            </div>
            <div class="elements-container">
                <input type="number" id="textPrecio" required >
                <label class="label">$Precio</label>
            </div>
            <div class="elements-container">
                <input type="number" id="textCantidad" required>
                <label class="label">Cantidad</label>
            </div>
            <div class="elements-container images-container">
                <label for="file-input1" class="add-image">
                    <img src="/Styles/Images/Vender/camara.png" alt="Icono de cámara" class="img-fluid"> Agregar Foto
                    <input type="file" id="file-input1" accept="image/*" size="1048576" required>
                    <img class="img-preview" id="imagen1" alt="Vista previa de la imagen">
                </label>
                <label for="file-input2" class="add-image">
                    <img src="/Styles/Images/Vender/camara.png" alt="Icono de cámara" class="img-fluid"> Agregar Foto
                    <input type="file" id="file-input2" accept="image/*" size="1048576" required>
                    <img class="img-preview" id="imagen2" alt="Vista previa de la imagen">
                </label>
                <label for="file-input3" class="add-image">
                    <img src="/Styles/Images/Vender/camara.png" alt="Icono de cámara" class="img-fluid"> Agregar Foto
                    <input type="file" id="file-input3" accept="image/*" size="1048576" required>
                    <img class="img-preview" id="imagen3" alt="Vista previa de la imagen">
                </label>
            </div>
            <div class="elements-container buttons">
                <button type="button" class="btn btn-outline-danger" id="btn-cancelar">Cancelar</button>
                <button type="button" class="btn btn-outline-success" id="btn-confirmar">Confirmar</button>
            </div>
        </form>
    </main>

    <footer class="pie">
        <div class="header">
            <div class="logo">
                <img src="../Styles/Images/Logo/andinaTradeHub.png" alt="Logo">
                <p class="logotipo">AndinaTradeHub</p>
            </div>
            <div class="redes">
                <a href="../Views/pagConstrucción.html"><span class="fb"><i class="fa-brands fa-facebook"></i></span></a>  
                <a href="../Views/pagConstrucción.html"><span class="tw"><i class="fa-brands fa-twitter"></i></span></a>
                <a href="../Views/pagConstrucción.html"><span class="in" ><i class="fa-brands fa-instagram"></i></span></a>
                <a href="../Views/pagConstrucción.html"><span class="li"><i class="fa-brands fa-linkedin"></i></span></a>
                <a href="../Views/pagConstrucción.html"><span class="yt"><i class="fa-brands fa-youtube"></i></span></a>
            </div>
        </div>
        
        <div class="section">
            <div>
                <h2>AndinaTradeHub</h2>
                <a href="/index.html">Inicio</a>
                <a href="../Views/imagenCorporativa.html">Acerca de nosotros</a>
                <a href="/index.html">Categorías</a>
                <a href="../Views/pagConstrucción.html">Contáctanos</a>
            </div>
            <div>
                <h2>Servicios</h2>
                <a href="../Views/vender.html">Venta de productos</a>
                <a href="../Views/listaProductos.html">Compra de productos</a>
            </div>
            <div class="cont-ubica">
                <h2>Ubicación</h2>
                <p>Manizales, Caldas<br>dfvalenciar@unal.edu.co<br>lauravagarciaa1295@gmail.com</p>
            </div>
        </div>
        <div class="derechos">
            <p>Copyright©2023. All right reserved</p>
        </div>
    </footer>
        
    <script type="text/javascript" src="../Library/Jquery/jquery-3.7.1.min.js"></script>
    <script src="https://kit.fontawesome.com/646ac4fad6.js" crossorigin="anonymous"></script>
    <script src="../Library/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../Scripts/vender.js"></script>
</body>
</html>
