*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.navbar{
    background-color: #029daf;
}

.andinaLogo a img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.navbar-nav-ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-weight: bolder;
    list-style: none;
    /* margin-top: 15px;
    padding-right: 18vw; */
    margin-bottom: 0;
}

/* ------------------------------------------------------------------- */
.icon-cart{
    position: relative;
}

.icon-cart svg {
    width: 2.5rem;
    color: white;
}

.icon-cart span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -2.4rem;
}
/* ------------------------------------------------------------------------- */


.navbar-brand{
    font-weight: bolder;
    margin-left: 15px;
    font-size: 20px;
}
.navbar-brand img{
    margin-right: 15px;
}

.navbar-toggler-icon {
    justify-content: flex-end;
}

.offcanvas div{
    background-color: #029daf;
}

.navbar-nav {
    font-weight: bolder;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: black;
}

.dropdown-menu{
    background-color: #029daf;
    box-shadow: 0 4px 18px black;
    border-radius: 8px;
}

.dropdown-item{
    color:white;
    font-weight: bolder;
}

.dropdown-item:hover{
    color: black;
    background-color:#029daf;
}

.btn{
    background-color: black;
    color:white;
}


/* Modal */
.modal-content{
    border: white;
    border-radius: 1rem;
    box-shadow: 0 8px 14px black;
}

.modal-title{
    font-weight: bold;
    color:#029DAF;
}

.modal-body p {
    color: black;
}

.btn-secondary{
    border:#029DAF;
    background-color:#029DAF;
    font-weight: bold;
    box-shadow: 0 0px 6px black;
}

/* Main */

.container-cart {
    background-color: transparent;
}

.container-info{
    border-radius: 5px;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.5);
    padding: 15px 20px;
    margin: 70px 70px 100px 70px;
    position: relative;
}

.container-info img{
    width: 100px;
    margin-top: -70px;
    border-radius: 5px;
    background-color: transparent;
}

.container-info .product-title{
    margin: 25px 0;
    text-align: center;
    font-size: 2.3rem;
    color:#029daf;
    font-weight: bold;
}

.btn-cerrar{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 2px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: transparent;
}

.container-price{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-price .product-price{
    font-size: 2.5rem;
    font-weight: bold;
}

.container-buttons{
    display:flex;
}

.btn-less, .contador, .btn-more{
    padding: 3px 10px;
    border: none;
    color: black;
    font-weight: bold;
}

.btn-less{
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    cursor: pointer;
}

.contador{
    background: linear-gradient(90deg, #62dab4, #10bed4);
    font-size: 18px;
}

.btn-more{
    background: linear-gradient(90deg, #a5e29c, #1b7b2c);
    cursor: pointer;
}

.container-total{
    padding: 0 20px;
}

.price-total{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.price-total h2, h3{
    margin: 10px 0;
}

.price-total h2{
    font-size: 3.5rem;
    font-weight: bold;
    color: #029daf;
}

.price-total h3{
    font-size: 3.0rem;
    font-weight: bold;
    color: #029daf;
}

.container-btn{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn-buy{
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
    font-weight: bold;
}

.btn-buy:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}

/* Comprobar impresión */

.container-comprar {
    display: none;
}

.imprimir-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imprimir-container h1 {
    margin: 4rem 0;
    font-size: 4rem;
}

.imprimir-container h3 {
    margin: 3rem 0 10rem 0;
    font-size: 2.5rem;
    text-decoration: underline;
}

.imprimir-container h4 {
    margin: 15rem 0;
    font-size: 3rem;
}

table {
    margin: 3rem 0;
    border: 0.1rem solid;
    font-size: 2rem;
    text-align: center;
}

table tr, th, td {
    border: 0.1rem solid black;
    padding: 1rem;
}

@keyframes showhide {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hideshow {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media print {
    body {
        background-image: url(/Styles/Images/Logo/andinaTradeHub.png);
        background-size: cover; /* Puedes ajustar esto según tus preferencias */
    }

    .navbar, .container-cart, .container-total, .pie, .modal {
        display: none;
    }

    .modal {
        visibility: hidden;
        /* opacity: 0; */
    }

    .container-comprar {
        display: block;
    }
}

/* Footer */

.pie{
    background: black;
    margin-top: 50px;
    padding: 10px;
}

.logo img{
    width: 80px;
    border-radius: 5px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px
}

span{
    font-size: 23px;
}
.fb, .tw, .in, .li, .yt{
    padding: 8px;
    border-radius: 20px;
    color: white;
}

.fb{
    background: rgb(0, 81, 255);
}

.tw{
    background: rgb(0, 140, 255);
}
.in{
    background: rgb(255, 0, 179);
}
.li{
    background: rgb(0, 102, 255);
}
.yt{
    background: rgb(255, 0, 0);
}

.redes{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.logotipo{
    font-size: 18px;
    color: white;
}
.section{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.section div{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

div h2{
    color: white;
    padding: 2px 0;
    margin: 2px;
    font-size: 18px;
}

a, p{
    color: rgba(255, 255, 255, 0.527);
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
}


.derechos{
    display: flex;
    justify-content: center;
    padding: 5px;
    background: black;
    color: white;
}

.derechos p:hover{
    color:#ffffff;
}

.section a:hover{
    color:#ffffff;
}

.cont-ubica p:hover{
    color:#ffffff;
}



