*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.navbar{
    background-color: #029daf;
}

.andinaLogo a img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.navbar-nav-ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-weight: bolder;
    list-style: none;
    margin-top: 15px;
    padding-right: 18vw;
}


.navbar-brand{
    font-weight: bolder;
    margin-left: 15px;
}
.navbar-brand img{
    margin-right: 15px;
}

.navbar-toggler-icon {
    justify-content: flex-end;
}

.offcanvas div{
    background-color: #029daf;
}

.navbar-nav {
    font-weight: bolder;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: black;
}

.dropdown-menu{
    background-color: #029daf;
    box-shadow: 0 4px 18px black;
    border-radius: 8px;
}

.dropdown-item{
    color:white;
    font-weight: bolder;
}

.dropdown-item:hover{
    color: black;
    background-color:#029daf;
}

.btn{
    background-color: black;
    color:white;
}

img main{
    background-image: url(/Styles/Images/Logo/andinaTradeHub.png);
}

main{
    display: flex;
    justify-content: center;
}

.cont-corpo{
    position: relative;
    display: inline-block;
    text-align: center;
    opacity: 0.4;
}

.cont-text{
    border: 2px solid rgba(255, 255, 255, 0.5);
    width: 950px;
    height: 950px;
    border-radius: 18px;
    position: absolute;
    top: 150px;
    left: 200px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5); 
    opacity: 0.8;
}

.cont-text{
    box-shadow: 0 10px 20px black;
}

.cont-text h2{
    margin: 15px;
    padding: 15px;
    color:#029daf;
    font-size: 30px;
    font-weight:bold;
    text-align: center;
}

.cont-text ul{
    list-style: none;
}

.cont-text h3{
    font-weight: bold;
    font-size: 25px;
}

.cont-text p{
    font-size: 20px;
}

.container-text h3{
    margin: 8px;
    padding: 8px;
    text-align: center;
    color:#029daf;
}

.parr-mot{
    margin: 8px;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}

.pie{
    background: black;
    margin-top: 50px;
    padding: 10px;
}

.logo img{
    width: 80px;
    border-radius: 5px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px
}

span{
    font-size: 23px;
}
.fb, .tw, .in, .li, .yt{
    padding: 8px;
    border-radius: 20px;
    color: white;
}

.fb{
    background: rgb(0, 81, 255);
}

.tw{
    background: rgb(0, 140, 255);
}
.in{
    background: rgb(255, 0, 179);
}
.li{
    background: rgb(0, 102, 255);
}
.yt{
    background: rgb(255, 0, 0);
}

.redes{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.logotipo{
    font-size: 18px;
    color: white;
}
.section{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.section div{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

div h2{
    color: white;
    padding: 2px 0;
    margin: 2px;
    font-size: 18px;
}

a, p footer{
    color: rgba(255, 255, 255, 0.527);
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
}

.cont-ubica{
    color: rgba(255, 255, 255, 0.527);
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
}

.derechos{
    display: flex;
    justify-content: center;
    padding: 5px;
    background: black;
    color: white;
}

