* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #fff;
}

.navbar{
    background-color: rgb(3, 159, 176);
}


.andinaLogo a img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.navbar-nav-ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-weight: bolder;
    list-style: none;
    margin-top: 15px;
    padding-right: 18vw;
}


.navbar-brand{
    font-weight: bolder;
    margin-left: 15px;
}
.navbar-brand img{
    margin-right: 15px;
}

.navbar-toggler-icon {
    justify-content: flex-end;
}

.offcanvas div{
    background-color: #029daf;
}

.navbar-nav {
    font-weight: bolder;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: black;
}

.dropdown-menu{
    background-color: #029daf;
    box-shadow: 0 4px 18px black;
    border-radius: 8px;
}

.dropdown-item{
    color:white;
    font-weight: bolder;
}

.dropdown-item:hover{
    color: black;
    background-color:#029daf;
}

.btn{
    background-color: black;
    color:white;
}

main {
    display: flex;
    justify-content: center;
}

.product-section {
    margin: 2rem 4rem;
    overflow: hidden;
    border-radius: 0.8rem;
    border: transparent;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 1.5);
    background-color: transparent;
    padding: 1.5rem;
    width: 50rem;
}


/* Carrusel de imagenes */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.image-container img {
    width: 15rem;
    height: 15rem;
}

.images-container {
    display: flex;
    width: 50%;
}

.images-container img{
    width: 0rem;
    flex-grow: 1;
    object-fit: cover;
    opacity: .85;
    transition: .5s ease;
}

.images-container img:hover{
    cursor: crosshair;
    width: 25rem;
    opacity: 1;
    filter: contrast(120%);
}


/* Informacion del producto */
.info-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    padding: 1.5rem 0;
    /* border: 0.1rem solid black; */
}

.info-product .product-title {
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.info-product .product-price {
    font-size: 2rem;
}

.product-title,
.product-category,
.product-price {
    margin-bottom: 1rem;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    /* background-color: brown; */
}

.buttons-container button {
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.description-container, 
.questions-container {
    padding-top: 1.5rem;
    /* border: 0.1rem solid black; */
}

.description-container {
    display: inline-block;
    /* background-color: aqua; */
}

.questions-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 0.5rem;
    /* background-color: #ccc; */
}

.description-title,
.questions-title {
    margin-bottom: 1rem;
}

.questions-container .question-form-container {
    display: flex;
    gap: 1rem;
}

.questions-container textarea {
    resize: none;
    padding: 1rem;
    overflow: hidden;
    overflow-wrap: break-word;
    border-radius: 1rem;
    outline: none;
}

.questions-container textarea:focus {
    border: 0.1rem solid red;
}

.questions-container button {
    padding: 0.3rem;
    border-radius: 0.5rem;
}

/* Footer */
.pie{
    background: black;
    margin-top: 50px;
    padding: 10px;
}

.logo img{
    width: 80px;
    border-radius: 5px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px
}

span{
    font-size: 23px;
}
.fb, .tw, .in, .li, .yt{
    padding: 8px;
    border-radius: 20px;
    color: white;
}

.fb{
    background: rgb(0, 81, 255);
}

.tw{
    background: rgb(0, 140, 255);
}
.in{
    background: rgb(255, 0, 179);
}
.li{
    background: rgb(0, 102, 255);
}
.yt{
    background: rgb(255, 0, 0);
}

.redes{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.logotipo{
    font-size: 18px;
    color: white;
}
.section{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.section div{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

div h2{
    color: white;
    padding: 2px 0;
    margin: 2px;
    font-size: 18px;
}

a, p{
    color: rgba(255, 255, 255, 0.527);
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
}


.derechos{
    display: flex;
    justify-content: center;
    padding: 5px;
    background: black;
    color: white;
}
