*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: #EBEBEB;
}

.navbar{
    background-color: #029daf;
}

.andinaLogo a img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.navbar-nav-ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-weight: bolder;
    list-style: none;
    margin-top: 15px;
    padding-right: 18vw;
}


.navbar-brand{
    font-weight: bolder;
    margin-left: 15px;
}
.navbar-brand img{
    margin-right: 15px;
}

.navbar-toggler-icon {
    justify-content: flex-end;
}

.offcanvas div{
    background-color: #029daf;
}

.navbar-nav {
    font-weight: bolder;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: black;
}

.dropdown-menu{
    background-color: #029daf;
    box-shadow: 0 4px 18px black;
    border-radius: 8px;
}

.dropdown-item{
    color:white;
    font-weight: bolder;
}

.dropdown-item:hover{
    color: black;
    background-color:#029daf;
}

h1{
    margin: 15px;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color:#029daf;
}

.images-carousel{
    margin: 40px 150px 20px;
    /*box-shadow: 0 4px 18px black;
    border-radius: 10px;*/
}

.d-block{
    width: 300px;
	height: 400px;
	object-fit: contain;
}

.btn{
    background-color: black;
    color:white;
}

.container-aboutUs{
    border: 2px solid #A39D9D;
    margin: 55px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 18px black;
    background-color: #A39D9D;
}

.container-aboutUs .aboutUs h2{
    font-size: 25px;
    color: white;
}

.aboutUs{
    text-align: center;
}

.container-aboutUs .aboutUs p {
    font-size: 18px;
    color: white;
}

.container{
    margin-left: 10%;
}

.row div{
    border: 2px solid rgb(230, 232, 238);
    width: 180px;
    height: 180px;
    background-color: white;
}

.row div:hover{
    background-color: #d5deeb;
}

.row div a{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    flex-direction: column;
    color: #2E86C1 ;
}

.container-category a img{
    margin-top: 25px;
}



.pie{
    background: black;
    margin-top: 50px;
    padding: 10px;
}

.logo img{
    width: 80px;
    border-radius: 5px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px
}

span{
    font-size: 23px;
}
.fb, .tw, .in, .li, .yt{
    padding: 8px;
    border-radius: 20px;
    color: white;
}

.fb{
    background: rgb(0, 81, 255);
}

.tw{
    background: rgb(0, 140, 255);
}
.in{
    background: rgb(255, 0, 179);
}
.li{
    background: rgb(0, 102, 255);
}
.yt{
    background: rgb(255, 0, 0);
}

.redes{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.logotipo{
    font-size: 18px;
    color: white;
}
.section{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.section div{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

div h2{
    color: white;
    padding: 2px 0;
    margin: 2px;
    font-size: 18px;
}

a, p{
    color: rgba(255, 255, 255, 0.527);
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
}

.derechos{
    display: flex;
    justify-content: center;
    padding: 5px;
    background: black;
    color: white;
}
