body{
    margin: 0;
    padding: 0;
    background-color: #ffc219;
    font-family: 'Quicksand', sans-serif;
}

.navbar{
    background-color: #029daf;
}

.navbar-brand{
    font-weight: bolder;
    margin-left: 30px;
}

.navbar-toggler-icon {
    display: flex;
    justify-content: flex-end;
}

.offcanvas div{
    background-color: #029daf;
}

.navbar-nav {
    font-weight: bolder;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: black;
}

.dropdown-menu{
    background-color: #029daf;
    box-shadow: 0 4px 18px black;
    border-radius: 8px;
}

.dropdown-item{
    color:white;
    font-weight: bolder;
}

.dropdown-item:hover{
    color: black;
    background-color:#029daf;
}

.images-carousel{
    /* border: 5px solid red; */
    margin: 80px 150px 20px;
}

.d-block{
    width: 300px;
	height: 400px;
	object-fit: contain;
}

.container-aboutUs{
    margin: 55px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 18px black;
    background-color: rgb(117, 107, 107);
    color: white;
}

.container-aboutUs .aboutUs h2{
    font-size: 28px;
}

.aboutUs{
    text-align: center;
}

.container-aboutUs .aboutUs p {
    font-size: 17px;
}

.container{
    margin-left: 10%;
}

.row div{
    border: 1px solid rgb(230, 232, 238);
    width: 180px;
    height: 180px;
    background-color: white;
}

.row div a{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    flex-direction: column;
}




/* @media (min-width: 768px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }
    
    .navbar-nav .nav-item {
        margin-right: 10px; 
    }

    .navbar-toggler {
        display: none; 
    }
} */