* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.navbar{
    background-color: rgb(3, 159, 176);
}


.andinaLogo a img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.navbar-nav-ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-weight: bolder;
    list-style: none;
    margin-top: 15px;
    padding-right: 18vw;
}


.navbar-brand{
    font-weight: bolder;
    margin-left: 15px;
}
.navbar-brand img{
    margin-right: 15px;
}

.navbar-toggler-icon {
    justify-content: flex-end;
}

.offcanvas div{
    background-color: #029daf;
}

.navbar-nav {
    font-weight: bolder;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: black;
}

.dropdown-menu{
    background-color: #029daf;
    box-shadow: 0 4px 18px black;
    border-radius: 8px;
}

.dropdown-item{
    color:white;
    font-weight: bolder;
}

.dropdown-item:hover{
    color: black;
    background-color:#029daf;
}

.btn{
    background-color: black;
    color:white;
}

/* Main */

/*Actualización*/
.modal-content{
    border: white;
    border-radius: 1rem;
    box-shadow: 0 8px 14px black;
}

/*Actualización*/
.modal-title{
    font-weight: bold;
    color:#029DAF;
}

.modal-body p {
    color: black;
}

/*Actualización*/
.btn-secondary{
    border:#029DAF;
    background-color:#029DAF;
    font-weight: bold;
    box-shadow: 0 0px 6px black;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    padding: 15px 100px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h2{
    margin-bottom: 30px;
    color: #333;
    text-transform: uppercase;
    font-size: 1.30em;
    letter-spacing: 0.1em;
}

.elements-container{
    position: relative;
    width: 450px;
    margin-bottom: 50px;
}

.elements-container select{
    position: relative;
    width: 100%;
    border: 2px solid #555;
    background-color: #fff;
    color: #333;
}

.elements-container input{
    position: relative;
    width: 100%;
    padding: 10px 0 0px 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #555;
    outline: none;
    color: #333;
    font-size: 1em;
}

.texarea{
    margin-top: 20px;
}

.elements-container textarea{
    position: relative;
    width: 100%;
    padding: 5px;
    max-width: 100%;
    outline: none;
    border-radius: 5px;
    border: 2px solid #555;
    background: transparent;
    color: #333;
    font-size: 1em;
}

.elements-container .label{
    position: absolute;
    left: 0;
    pointer-events: none;
    color: #555;
    padding: 10px 0;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    padding: 0 5px;
}

.elements-container .label span{
    position: relative;
    display: inline-flex;
    letter-spacing: 0.10em;
    transition: 0.2s ease-in-out;
}

.elements-container input:focus ~ .label span,
.elements-container input:valid ~ .label span
{
    color: #17a2b8;
    letter-spacing: 0.15em;
    transform: translateY(-15px);
}

.elements-container input:focus,
.elements-container input:valid
{
    border-bottom: 2px solid #17a2b8;
}

.elements-container textarea:focus ~ .label span,
.elements-container textarea:valid ~ .label span
{
    color: #17a2b8;
    letter-spacing: 0.15em;
    transform: translateY(-25px);
}

.elements-container textarea:focus,
.elements-container textarea:valid
{
    border: 1px solid #17a2b8;
}

.images-container{
    display: flex;
    gap: 30px;
}

.add-image{
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 5px;
}

.img-fluid{
    width: 50%;
    height: auto;
}

#file-input1, #file-input2, #file-input3{
    display: none;
}

.img-preview {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.elements-container button{
    width: 50%;
    padding: 15px 0;
    cursor: pointer;
}

.buttons{
    display: flex;
    gap: 20px;
}

.pie{
    background: black;
    margin-top: 50px;
    padding: 10px;
}

.logo img{
    width: 80px;
    border-radius: 5px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px
}

span{
    font-size: 23px;
}
.fb, .tw, .in, .li, .yt{
    padding: 8px;
    border-radius: 20px;
    color: white;
}

.fb{
    background: rgb(0, 81, 255);
}

.tw{
    background: rgb(0, 140, 255);
}
.in{
    background: rgb(255, 0, 179);
}
.li{
    background: rgb(0, 102, 255);
}
.yt{
    background: rgb(255, 0, 0);
}

.redes{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.logotipo{
    font-size: 18px;
    color: white;
}
.section{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.section div{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

div h2{
    color: white;
    padding: 2px 0;
    margin: 2px;
    font-size: 18px;
}

a, p{
    color: rgba(255, 255, 255, 0.527);
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
}


.derechos{
    display: flex;
    justify-content: center;
    padding: 5px;
    background: black;
    color: white;
} 

.derechos p:hover{
    color:#ffffff;
}

.section a:hover{
    color:#ffffff;
}

.cont-ubica p:hover{
    color:#ffffff;
}



